.new-book-btn {
    display: flex;
    justify-content: center;
}

.bookBtn {
    width: 200px;
    height: 50px;
    margin: 30px;
}

.book-form {
    margin-left: 500px;
    border: 2px solid black;
    width: 500px;
    height: 350px;
}

.bookForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.library-header {
    display: flex;
    justify-content: center;
}